@charset "UTF-8";

/**
 * Gestionale WinterTour - Pagina di amministrazione
 *
 * Plugin per gestire i tornei e l'anagrafica e le iscrizioni dei membri
 * @author Comunico S.r.l. <info@comunico.info>
 * @version 1.0
 * @package wintertour
 */

#wpbody-content h1 {
	display: block;
	width: 100%;
	padding-top: 18px;
	margin: 0 auto;
	text-align: center;
}
